/*Full page css code*/
.container-fluid{ background:black;}
.content{ min-height:660px; box-shadow:0px 0px 1px black;}

/*header css code*/
.header_blink{ padding:10px;}
header,footer{ color:teal;}
h1{font-weight:bold; color:#f2a81d;}

/*menu css code*/
ul{list-style:none;}
nav{text-align:center;}
#menu_link{color:#6df7f3; font-size:16px; font-weight:bold; background:black;}
#menu_link:hover{font-weight:; color:white;}

/*body css code*/
.image{ text-align:center; background:red;}
img{ width:90%; max-height:350px;}
/*css for books and notes first*/
	#home_page_content{ margin:60px auto; text-align:justify; }
	#sub_link{display:block; width:100%; height:100%;}
	.link_subject{min-height:100px; background:black;  display:block; width:100%; font-size:40px; 
			border-radius:10px; text-align:center; padding:20px 0px; color:#6df7f3; }
	.link_subject:hover{color:#f2a81d; background:black; font-weight:bold; }
/*slide css code.*/
#slide_image{ width:280px; height:100px; float:left; text-align:center;}
/*css for notice page*/
.col-md-10{text-align:justify;}
#notice{ font-size:14px;}
#notice_link{ font-size:30px;}

/*css for contact page*/
#contact_address{ font-size:20px;}
.footer_blink{ min-height:100px;}
strong{padding:30px; color:#999;}
