/*css for admin image form upload*/
form{ margin:120px auto; border:1px solid black; padding:50px 30px; border-radius: 10px;}
input[type="text"],input[type="password"]{text-align:center;}
input[type='submit']{ width:40%; background:black; font-weight:bold; color:#f2a81d; border-radius: 5px;}
input[type="submit"]:hover{ color:#6df7f3;}